{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
 
<p><h5 style="margin-left:10px"> Book reading is a versatile habit. It enhaces our communication skills, 
improves our knowledge about various things and helps in development of creative thoughts.</h5>
<br>
<h5 style="margin-left:10px"> This website is especially designed for the community of book readers. 
We help you choose the book that you would love to read. We provide search services to our members
and also provide them the rating as well as reviews about that book given by other users. We can 
help our fellow readers by rating the book that we have already read, so they can choose the best 
books to read. </h5>
<br>
<h5 style="margin-left:10px"> We also have tags and data analysis based suggesion system that gives you really 
useful suggessions about which books you would love to read based on the books that you have already read.</h5>
<br>
<h5 style="margin-left:10px">Support this site to encourage reading and help us improve.</h5>
</p>
<br><br><br>
<h6 style="margin-left:10px">
Created by : Keval Parekh  &nbsp &nbsp &nbsp
Contact: +91 7016923389 &nbsp &nbsp &nbsp
E-mail : keval.parekh2611@gmail.com
</h6>
{% endblock %}
